.paymentContainer {
  text-align: center;
  padding: 50px 20px;
  background-color: #f7f8fa;
  font-family: 'Georgia', serif;}

.paymentContainer h1 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #122387;
}

.planBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.plan {
  background-color: #ffffff;
  border: 1px solid #dcdde1;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.plan h2 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #2980b9;
}

.plan p {
  font-size: 16px;
  color: #7f8c8d;
  margin-bottom: 30px;

}

.plan:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.planLink {
  text-decoration: none;
  color: inherit;
}

.ctaButton {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-left: 10px;
}

.ctaButton:hover {
  background-color: #2980b9;
}
